<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Page Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
   <a [routerLink]="['/new']" style="margin-right:20px;">Add a quotable author</a> 
    <h3>We have quotes by:</h3>
      <div class='table'>
				<table class='table table-bordered table-hover mt-5'>
            <thead>
              <tr>
                <th>Author</th>
                <th>Actions Available</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let author of authors'>
                <td>{{author.name}}</td>
                <td><button (click)="sendToViewQuotes(author._id)" class="btn btn-outline-secondary">View Quotes</button><button (click)="sendToEditAuthor(author._id)" class="btn btn-outline-secondary ml-2">Edit</button></td>
              </tr>
            </tbody>
				</table>
        </div>
   
    <router-outlet></router-outlet>
  </div>
</body>
</html>
