<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Page Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
     <a [routerLink]="['/home']">Home</a>
   <a [routerLink]="['/write']" style="margin-left:20px;">Add a quote</a> 
    <h3>We have quotes by:</h3>
    <p>{{author.name}}</p>
      <div class='table'>
				<table class='table table-bordered table-hover mt-5'>
            <thead>
              <tr>
                <th>Quotes</th>
                <th>Votes</th>
                <th>Actions Available</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of author.quotes">
                <td>{{quote.content}}</td>
                <td>{{quote.vote}}</td>
                <td><button (click)="vote(author._id,quote,1)" class="btn btn-outline-success">Vote Up</button><button (click)="vote(author._id,quote,-1)" class="btn btn-outline-warning ml-2">Vote Down</button><button (click)="deleteOnClick(author._id,quote._id)" class="btn btn-outline-danger ml-2">Delete</button></td>
              </tr>
            </tbody>
				</table>
        </div>
   
    <router-outlet></router-outlet>
  </div>
</body>
</html>
